<!-- comment template -->
<div id="comments-content" data-id="{{dataId}}">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <button type="button" class="commentsDeleteButton" data-id="{{dataId}}" name="deleteCommentButton">Delete</button>
</div>
